<div class="ml-3 mt-4 text-center">
  <p> Sorry we cannot pull up any new videos at this time because the daily search quota has been reached. </p>
  <p> Why not check out our most popular videos!</p>
  <%= render partial: "home/most_popular" %> 
</div>