<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Innercise</title>
  </head>
  <body>
  
  <% if @workouts.empty? %>
    <div class="ml-3 mt-4 text-center">
      <p> Sorry we cannot pull up any new videos at this time because the daily search quota has been reached. </p>
      <p> Why not check out our most popular videos!</p>
    </div>
  <% else %>  
    <%= render partial: "videos", locals: { workouts: @workouts, id: @workout_id } %> 
  <% end %>


  </body>
</html>

