<h3 style="margin-block-end: 1em; color: #156064;">Welcome <%= current_user.username %> </h3>
<%= link_to "Go to profile page", profile_path(current_user.username), class: 'btn btn-primary mb-2' %>

<div>
  <br />
  
  <p>Completed workouts this week: </p>
  <p><%= one_week %></p>

  <p>All time: </p>
  <%= all_time %>
</div>