<h3 style="margin-block-end: 1em; color: #156064;">Welcome <%= current_user.username %> </h3>


<h3 style="margin-block-end: 1em;">Profile overview</h3>
<div>
  <p>Completed workouts this week: </p>
  <br>
  <p>Highest rated video: </p>
  <br>
</div>