<h2 class="ml-3 mt-4 text-center"> About Innercise </h2>


<h3 class="ml-3 mt-4 text-center"> About Us </h3>

<div id="responsive-row" class="row justify-content-around ml-1 mr-1">
  <div id="responsive-card" class="card col-sm-3 col-lg-3">
    <%= image_tag 'sbell.png', class: 'card-img-top', alt: 'Card image cap' %>
    <div class="card-body">
      <h5 class="card-title text-center">Sophia Bell</h5>
      <h6 class="card-subtitle mb-2 text-muted text-center">Github: <a href="https://github.com/Kittaru87"> Kittaru87</a></h6>
    </div>
  </div>

  <div id="responsive-card" class="card col-sm-3 col-lg-3">
    <%= image_tag 'kgardiner.png', class: 'card-img-top', alt: 'Card image cap' %>
    <div class="card-body">
      <h5 class="card-title text-center">Karla Gardiner</h5>
      <h6 class="card-subtitle mb-2 text-muted text-center">Github: <a href="https://github.com/KG700"> KG700</a></h6>
    </div>
  </div>
</div>
