<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Innercise</title>
  </head>
  <body> 

    <h2 class="ml-3 mt-4 text-center"> Welcome to Innercise </h2>
    
    <section class="text-center mr-3 ml-3">
      <p>Innercise is an app to help you maintain a steady home workout routine by focusing on specific areas of the body.</p>
      <p>The idea for this app came about during the 2020 Covid-19 lockdown. With the gyms shut and with orders to stay indoors, it was 
      easy to let your exercise routine slide. Or you could trawl through YouTube to try and find a suitable video, but distractions are everywhere!
      What should have been a half an hour full-body workout turns out to be a rabbit hole of fail videos... Not with Innercise!</p>
      <p>Innercise will guide you through your chosen area of exercise, one video at a time, with no distractions.</p>
      <p>So find a space, get clicking and see the gains!</p>
      <p><strong>Current features: </strong>
        <li>Find a workout based on the area you want to focus on</li>
        <li>Like your favourite workouts</li>
      </p>
      <p>Watch this space for more features and updates...</p>
    </section>

    <h3 class="ml-3 mt-4 text-center"> About Us </h3>

    <div class="responsive-row row justify-content-around ml-1 mr-1">
      <div class="responsive-card card col-sm-3 col-lg-3">
        <%= image_tag 'sbell.png', class: 'card-img-top', alt: 'Card image cap' %>
        <div class="card-body">
          <h5 class="card-title text-center">Sophia Bell</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">
          Github: <a href="https://github.com/Kittaru87"> Kittaru87</a>
          <br>
          Medium: <a href="https://medium.com/@sophbell87"> @sophbell87</a>
          <br>
          LinkedIn: <a href="https://www.linkedin.com/in/sophia-bell-1a945a2b/"> Sophia Bell</a>
          </h6>
        </div>
      </div>

      <div class="responsive-card card col-sm-3 col-lg-3">
        <%= image_tag 'kgardiner.png', class: 'card-img-top', alt: 'Card image cap' %>
        <div class="card-body">
          <h5 class="card-title text-center">Karla Gardiner</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">
          Github: <a href="https://github.com/KG700"> KG700</a>
          <br>
          LinkedIn: <a href="https://www.linkedin.com/in/karla-gardiner-a7b18255/"> Karla Gardiner</a>
          </h6>
        </div>
      </div>
    </div>

  </body>
</html>
