<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Innercise</title>
  </head>
  <body>  
    <header>
      <h1>Innercise</h1>
    </header>

    <section>

    <%= link_to workouts_arms_path do %>
      <button id="arms">
        Arms
      </button>
    <% end %>
    
    <button>
      Shoulders
    </button>
    <button>
      Chest
    </button>
    <button>
      Back
    </button>
    <button>
      Core
    </button>
    <button>
      Glutes
    </button>
    <button>
      Legs
    </button>
    </section>

<script>


</script>

  </body>
</html>