<h2 class="text-center"><%= current_user.username %>'s profile </h2>

<div class="flex-display col-lg-12 justify-content-center text-center">
  <div class="col-lg-2 profile-box-style border rounded mx-3 pt-4">
    <p>This week: </p>
    <p class="display-4"> 0 </p>
  </div>
  <div class="col-lg-2 profile-box-style border rounded mx-3 pt-4">
    <p>This month: </p>
    <p class="display-4"> 0 </p>
  </div>
  <div class="col-lg-2 profile-box-style border rounded mx-3 pt-4">
   <p>All time: </p>
   <p class="display-4"> 0 </p>
  </div>
</div>

<div class="mt-5 mx-3">
  <h4>Your liked workouts</h4>
  <div>
  <% likeWorkout = Like.where(user_id: current_user.id) %>
  <% likeWorkout.each do |like| %>
    <div class="mb-2"> 

      <%= link_to like.workout.title, workout_path(like.workout.bodyId)  %>

    </div>
  <% end %>
  </div>

</div>