<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Innercise</title>
  </head>
  <body>
  <h2 class="ml-3 mt-4"> Terms of Service </h2>
  <div class="ml-3">
    <p>
      Currently Innercise does not save or collect any data on its users
    <p>
      Follow these links to the <a href="https://www.youtube.com/t/terms">YouTube Terms of Service</a> and <a href="https://policies.google.com/privacy?hl=en-US">Google Privacy Policy</a>
    </p>
  </div>  
  </body>
</html>