@import "bootstrap/scss/bootstrap";


 body {
  font-family: 'Comfortaa', medium;
 }

 h2 {
  font-family: 'Comfortaa', bold;
  margin-block-end: 2em;
 }

 h3 {
  font-family: 'Comfortaa', bold;
  margin-block-end: 2em;
 }

 a {
   color: #156064;
   font-family: 'Comfortaa', bold;
 }

 a:link {
  text-decoration: none;
 }

 a:hover {
   color: #FB8F67;
 }

 .flex-display {
  display: flex;
 }

 .profile-box-style {
  background-color: #156064 !important; 
  color: white !important;
 }

 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #156064 !important;
  border: #156064 !important;
}

.btn-primary:hover{
  background-color: #FB8F67 !important;
}

.btn-video {
  border: solid 2px #156064 !important;
}

.btn-video:hover, .btn-video:active {
  border: solid 2px #FB8F67 !important;
  background-color: #FB8F67 !important;
  color: white;
}

.video-div {
  margin: 3em;
  margin-bottom: 1em;
}

.rhs-info {
 width: 100%; 
 margin: 1em;
 margin-left: auto;
 padding: 15px;
}

.responsive-card {
  width: 18rem; 
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
 }

 .responsive-column {
  display: inline-block;
 }

 #top-profile-div{
   display: none;
 }

 #responsive-btn-left {
  display: inline-block;
}

#responsive-btn-right {
  display: inline-block;
}

 #index-cards {
  display: inline-block;
 }


 @media only screen and (max-width : 991px) {

  h2 {
    margin-block-end: 1em; 
  }

  .responsive-row {
    width: auto;
  }

  .video-div {
    margin: auto;
    margin-bottom: 1em;
  }

  #top-profile-div {
    display: flex;
    text-align: center;
  }

  #rhs-profile-div {
    display: none;
  }
 }

 @media only screen and (max-width : 575px) {

  .video-div {
    margin: auto;
    margin-bottom: 1em;
  }

  .responsive-card {
    width: auto;
  }

  .responsive-row {
    width: auto;
  }

  .flex-display {
    display: block;
    width: auto;
   }

  .profile-box-style {
    margin-left: 0% !important;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  h2 {
    margin-block-end: 1em; 
  }

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  #rhs-profile-div {
    display: none;
  }
}
