/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "../node_modules/bootstrap/scss/bootstrap";

 body {
  font-family: 'Comfortaa', medium;
 }

 h2 {
  font-family: 'Comfortaa', bold;
  margin-block-end: 2em;
 }

 h3 {
  font-family: 'Comfortaa', bold;
  margin-block-end: 2em;
 }

 a {
   color: #156064;
   font-family: 'Comfortaa', bold;
 }

 a:link {
  text-decoration: none;
 }

 a:hover {
   color: #FB8F67;
 }

 .video-div {
   margin: 3em;
   margin-bottom: 1em;
 }

 #responsive-card {
  width: 18rem; 
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
 }

 #responsive-column {
  display: inline-block;
 }

 #index-cards {
  display: inline-block;
 }

 #rhs-info {
  width: 100%; 
  margin: 1em;
  margin-left: auto;
  padding: 15px;
 }


 @media only screen and (max-width : 991px) {

  h2 {
    margin-block-end: 1em; 
  }

  #responsive-row {
    width: auto;
  }

  .video-div {
    margin: auto;
    margin-bottom: 1em;
  }
 }

 @media only screen and (max-width : 575px) {

  .video-div {
    margin: auto;
    margin-bottom: 1em;
  }

  #responsive-row {
    width: auto;
  }

  #responsive-card {
    width: auto;
  }

  h2 {
    margin-block-end: 1em; 
  }

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}
