<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
  <a class="navbar-brand" href="/">Innercise</a>

  # <% if session[:location] %>
  # <% session[:location].each do |l| %>
  #   <a>▸</a>
  #   <%= "<a href=#{l[:link]}>#{l[:name].upcase}</a>" %>
  # <%end%>
  # <%end%>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0 ml-auto" id="navbarSupportedContent">
      <ul class="navbar-nav text-right">
        <li class="nav-item active">
          <%= link_to home_about_path, :class => "nav-link" do %> 
            About
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %> 
        </li>
        <li class="nav-item active">
          <%= link_to "Sign in", new_user_session_path, :class => 'nav-link' %>
        </li>
      </ul>
    </div>
</nav>

  