<div>
  <% workouts.each do |like| %>
    <div class="row col-md-6 mb-2"> 
      <%= form_with url: profile_like_path(like.workout.bodyId), method: :put do |form| %>
        <%= hidden_field_tag(:videoId, like.workout.videoId) %>
        <%= hidden_field_tag(:id, like.workout.bodyId) %>
        <%= form.submit like.workout.title %>
      <% end %>
    </div>
  <% end %>
</div>